In [1]:
import pandas as pd

In [2]:
temp = pd.read_csv('files/temp.csv')

In [3]:
temp.head()

              datetime    LA   NY
0  2013-01-01 00:00:00  11.7 -1.1
1  2013-01-01 01:00:00  10.7 -1.7
2  2013-01-01 02:00:00   9.9 -2.0
3  2013-01-01 03:00:00   9.3 -2.1
4  2013-01-01 04:00:00   8.8 -2.3

In [4]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  35064 non-null  object
 1   LA        35062 non-null  float64
 2   NY        35064 non-null  float64
dtypes: float64(2), object(1)
memory usage: 821.9+ KB

In [5]:
temp['datetime']

0        2013-01-01 00:00:00
1        2013-01-01 01:00:00
2        2013-01-01 02:00:00
3        2013-01-01 03:00:00
4        2013-01-01 04:00:00
                ...
35059    2016-12-31 19:00:00
35060    2016-12-31 20:00:00
35061    2016-12-31 21:00:00
35062    2016-12-31 22:00:00
35063    2016-12-31 23:00:00
Name: datetime, Length: 35064, dtype: object

In [6]:
### .to_datetime()

In [7]:
pd.to_datetime(temp['datetime'])

0       2013-01-01 00:00:00
1       2013-01-01 01:00:00
2       2013-01-01 02:00:00
3       2013-01-01 03:00:00
4       2013-01-01 04:00:00
                ...
35059   2016-12-31 19:00:00
35060   2016-12-31 20:00:00
35061   2016-12-31 21:00:00
35062   2016-12-31 22:00:00
35063   2016-12-31 23:00:00
Name: datetime, Length: 35064, dtype: datetime64[ns]

In [8]:
temp.set_index(pd.to_datetime(temp['datetime']))

                                datetime    LA   NY
datetime
2013-01-01 00:00:00  2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00  2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00  2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00  2013-01-01 04:00:00   8.8 -2.3
...                                  ...   ...  ...
2016-12-31 19:00:00  2016-12-31 19:00:00  13.5  4.6
2016-12-31 20:00:00  2016-12-31 20:00:00  13.2  5.7
2016-12-31 21:00:00  2016-12-31 21:00:00  12.8  5.8
2016-12-31 22:00:00  2016-12-31 22:00:00  12.3  5.7
2016-12-31 23:00:00  2016-12-31 23:00:00  11.9  5.5

[35064 rows x 3 columns]

In [9]:
temp.set_index(pd.to_datetime(temp['datetime'])).drop('datetime',axis=1)

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3
...                   ...  ...
2016-12-31 19:00:00  13.5  4.6
2016-12-31 20:00:00  13.2  5.7
2016-12-31 21:00:00  12.8  5.8
2016-12-31 22:00:00  12.3  5.7
2016-12-31 23:00:00  11.9  5.5

[35064 rows x 2 columns]

In [10]:
temp_t = temp.set_index(pd.to_datetime(temp['datetime'])).drop('datetime',axis=1)

In [11]:
temp_t

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3
...                   ...  ...
2016-12-31 19:00:00  13.5  4.6
2016-12-31 20:00:00  13.2  5.7
2016-12-31 21:00:00  12.8  5.8
2016-12-31 22:00:00  12.3  5.7
2016-12-31 23:00:00  11.9  5.5

[35064 rows x 2 columns]

In [12]:
temp_t.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35064 entries, 2013-01-01 00:00:00 to 2016-12-31 23:00:00
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LA      35062 non-null  float64
 1   NY      35064 non-null  float64
dtypes: float64(2)
memory usage: 821.8 KB

In [13]:
temp_t.index

DatetimeIndex(['2013-01-01 00:00:00', '2013-01-01 01:00:00',
               '2013-01-01 02:00:00', '2013-01-01 03:00:00',
               '2013-01-01 04:00:00', '2013-01-01 05:00:00',
               '2013-01-01 06:00:00', '2013-01-01 07:00:00',
               '2013-01-01 08:00:00', '2013-01-01 09:00:00',
               ...
               '2016-12-31 14:00:00', '2016-12-31 15:00:00',
               '2016-12-31 16:00:00', '2016-12-31 17:00:00',
               '2016-12-31 18:00:00', '2016-12-31 19:00:00',
               '2016-12-31 20:00:00', '2016-12-31 21:00:00',
               '2016-12-31 22:00:00', '2016-12-31 23:00:00'],
              dtype='datetime64[ns]', name='datetime', length=35064, freq=None)

In [20]:
############################################### 
# year- Month - Day

In [15]:
pd.to_datetime('2020-05-20')

Timestamp('2020-05-20 00:00:00')

In [16]:
pd.to_datetime('20200520')

Timestamp('2020-05-20 00:00:00')

In [18]:
pd.to_datetime('2020/05/20')

Timestamp('2020-05-20 00:00:00')

In [19]:
pd.to_datetime('2020-05-20 06:07:33')

Timestamp('2020-05-20 06:07:33')

In [21]:
pd.to_datetime('2020 April 19')

Timestamp('2020-04-19 00:00:00')

In [22]:
pd.to_datetime(['2020-04-20', 'April 20 2020'])

DatetimeIndex(['2020-04-20', '2020-04-20'], dtype='datetime64[ns]', freq=None)

In [23]:
pd.to_datetime(['2020-04-20','May 29 2020', '2020/05/20'])

DatetimeIndex(['2020-04-20', '2020-05-29', '2020-05-20'], dtype='datetime64[ns]', freq=None)

In [24]:
pd.to_datetime(['2020 April 29','Moinul'],errors='coerce')

DatetimeIndex(['2020-04-29', 'NaT'], dtype='datetime64[ns]', freq=None)