In [1]:
import pandas as pd

In [2]:
temp = pd.read_csv('files/temp.csv')

In [3]:
temp.head()

              datetime    LA   NY
0  2013-01-01 00:00:00  11.7 -1.1
1  2013-01-01 01:00:00  10.7 -1.7
2  2013-01-01 02:00:00   9.9 -2.0
3  2013-01-01 03:00:00   9.3 -2.1
4  2013-01-01 04:00:00   8.8 -2.3

In [5]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  35064 non-null  object
 1   LA        35062 non-null  float64
 2   NY        35064 non-null  float64
dtypes: float64(2), object(1)
memory usage: 821.9+ KB

In [8]:
### Converting temp['datatime'] type object to datetime format

In [6]:
temp.iloc[0,0]

'2013-01-01 00:00:00'

In [7]:
temp.index

RangeIndex(start=0, stop=35064, step=1)

In [9]:
temp2 = pd.read_csv('files/temp.csv',parse_dates=['datetime'])

In [10]:
temp2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  35064 non-null  datetime64[ns]
 1   LA        35062 non-null  float64
 2   NY        35064 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 821.9 KB

In [12]:
temp2.iloc[0,0]

Timestamp('2013-01-01 00:00:00')

In [13]:
temp2.index

RangeIndex(start=0, stop=35064, step=1)

In [14]:
temp3 = pd.read_csv('files/temp.csv',parse_dates=['datetime'],index_col='datetime')

In [15]:
temp3.head()

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3

In [16]:
temp3.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35064 entries, 2013-01-01 00:00:00 to 2016-12-31 23:00:00
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LA      35062 non-null  float64
 1   NY      35064 non-null  float64
dtypes: float64(2)
memory usage: 821.8 KB

In [17]:
temp3.index

DatetimeIndex(['2013-01-01 00:00:00', '2013-01-01 01:00:00',
               '2013-01-01 02:00:00', '2013-01-01 03:00:00',
               '2013-01-01 04:00:00', '2013-01-01 05:00:00',
               '2013-01-01 06:00:00', '2013-01-01 07:00:00',
               '2013-01-01 08:00:00', '2013-01-01 09:00:00',
               ...
               '2016-12-31 14:00:00', '2016-12-31 15:00:00',
               '2016-12-31 16:00:00', '2016-12-31 17:00:00',
               '2016-12-31 18:00:00', '2016-12-31 19:00:00',
               '2016-12-31 20:00:00', '2016-12-31 21:00:00',
               '2016-12-31 22:00:00', '2016-12-31 23:00:00'],
              dtype='datetime64[ns]', name='datetime', length=35064, freq=None)

In [18]:
temp3.index[0]

Timestamp('2013-01-01 00:00:00')